<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVpFzXTc5GcIyDUCSM2qGXZtO5DorfEak</string>
	<key>GCM_SENDER_ID</key>
	<string>195021718525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsahtjhofoefrsfwe.yotpcpsupkssilec</string>
	<key>PROJECT_ID</key>
	<string>athletics-powerhouse</string>
	<key>STORAGE_BUCKET</key>
	<string>athletics-powerhouse.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195021718525:ios:ffcb862a82f2be4b518f94</string>
</dict>
</plist>